
:root {
  --default-font:"Montserrat";

}

:root {
  --background-color: #ffffff;
  --default-color: #212529;
  --heading-color: #2e4455;
  --accent-color: #428bca;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}

.light-background {
  --background-color: #f5f9fc;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #263746;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #385167;
  --contrast-color: #ffffff;
}

:root {
  scroll-behavior: smooth;
}


body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.indicadores .section {
  padding: 30px 60px;
}

.indicadores h2 {
  text-align: center;
  padding: 10px;
  color: #2e4455;
}

.indicadores p {
  text-align: center;
  padding: 20px 10px;
  color: #2e4455;

}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0px;
  padding-top: 20px;

}

.photo {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  border-radius: 10px;
  transition: 0.3s all;
}

.photo1 {
  transform: rotate(-3deg) translateX(15px);

}

.photo3 {
  transform: rotate(3deg) translateX(-15px);

}


.photo1:hover {
  transform: rotate(-3deg) scale(1.1);
}

.photo2:hover {
  transform: scale(1.1);
}

.photo3:hover {
  transform: rotate(3deg) scale(1.1);
}


@media screen and (max-width: 400px) {
  .hero .title {
    font-size: x-large;
  }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  scroll-margin-top: 120px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 100px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: calc(100vh - 80px);
  position: relative;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  color: #FFF;
}

.hero .textoLateral {
  inset: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9;
  color: #FFF;

}

.hero .title {
  font-size: 45px;
  font-weight: 600;
  animation: fadeInDown 1s both 0.2s;
  margin-top: -10px;
}

.hero .subTitle {
  font-size: large;
  animation: fadeInDown 1s both 0.2s;
  padding: 50px 0px;

}

.hero .button a {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px;
  /* background-color: rgb(10, 9, 9, 0.1); */
  background-color: #00a2ff;
  border: 1px transparent solid;
  width: auto;
  animation: fadeInUp 1s both 0.4s;
  color: #ffffff;
  text-decoration: none;

}

.hero .btn-get-started:hover {
  background: color-mix(in srgb, var(--default-color), transparent 70%);
  border: 1px #FFF solid;
}


@media screen and (max-width: 600px) {
.hero .logo img{
display: none;

}
}

.hero .carousel {
  inset: 0;
  position: absolute;
  overflow: hidden;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

}

.hero .carousel-item img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .carousel-item::before {
  content: "";
  background-color: color-mix(in srgb, var(--heading-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}


@media screen and (max-width: 1250px) {
  .hero.section {
    padding: 5%;
  }

}

@media screen and (max-width: 900px) {
  .hero .textoLateral {
    width: 75%;
  }

}

@media screen and (max-width: 600px) {
  .hero.section {
    padding: 20px;
  }

  .hero .textoLateral {
    width: 100%;

  }

  .hero .title {
    font-size: xx-large;
  }
}

@media screen and (max-width: 400px) {
  .hero .title {
    font-size: x-large;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*--------------------------------------------------------------
# HidroApp Section
--------------------------------------------------------------*/
#HidroApp {
  padding: 70px 50px;
}

#indicadores {
  padding: 50px 30px;
  background-color: rgb(238, 236, 232);
  padding: 50px 0 150px;
}

#footer {
  padding: 50px 0;
}

.HidroApp .card-item {
  padding: 20px;
  transition: all ease-in-out 0.3s;
  width: auto;
  height: 180px;
  position: relative;
  border: solid 0px #428BCA;
  margin-top: -20px;
  color: #000;
}

.HidroApp .container p {
  color: #25282c;
  font-size: 16px;

}

.HidroApp .icon {
  color: var(--accent-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: auto;
  height: 55px;
  padding: 10px;
}

.HidroApp .container {
  font-size: 14px;
  text-align: center;
  align-items: center;
  width: 100%;

}

.HidroApp .card-item i {
  color: #FFF;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  background: #428bca;
  padding: 20px;
  border-radius: 50%;
}

.HidroApp h2 {
  text-align: center;
  margin-bottom: 10px;

}

.HidroApp .card-item h4 {
  color: #2e4455;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  font-weight: bold;

}

@media (max-width: 768px) {
  .HidroApp .container p {
    text-align: center;
    font-size: 18px;
    padding: 0 0 50px;

  }

}

.HidroApp .card-item p {
  font-size: 15px;
  text-align: center !important;
  color: #25282c;

}


.HidroApp .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  animation: fadeInUp 1s both 0.4s;
  border: solid 1px #F00;
}


/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 16px;
  position: relative;

  min-width: 100%;

}

.footer .footer-top {
  padding-top: 50px;
}

.footer .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-right: 10px;
  transition: 0.3s;

}

.footer .social-links a:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #212529;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: var(--accent-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 8px;
  font-size: 13px;
}

